name: Simple Data Update

on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull latest changes
        run: |
          git config --global user.name "Benjamin5607"
          git config --global user.email "Benjamin5607@users.noreply.github.com"
          git pull origin main --rebase || echo "Up to date"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install requests feedparser

      - name: Run News Analyzer
        run: python brain.py

      - name: Commit and Push
        run: |
          git add data.json
          git commit -m "Auto Update: RSS Data" || echo "No changes"
          git push https://${{ secrets.GH_PAT }}@github.com/${{ github.repository }}.git HEAD:main
